.prdctTable {
    width: 100% !important;
}

.mat-header-cell {
    font-weight: bolder;
}

.image-spacing {
    margin-right: 5px !important;
}

.header-class {
    color: #873030 !important;
    background: transparent!important;
}