.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
}

.form-group {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

button {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 15px;
  background: #f69c9c;
  color: #fff;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: rgb(231, 72, 72) !important;
}

table {
  border-collapse: collapse;
  width: 85%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

button.plus {
  background-color: #28a745;
}

button.minus {
  background-color: #dc3545;
}

.delete-icon:hover {
  background-color: #dc3545;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.title {
  padding-left: 1%;
  padding-top: 1%;
  color: #873030 !important;
  background: transparent !important;
}